<html>

	<head>

		<style type="text/css">
			#background { width: 100%; height: 100%; position: absolute; left: 0px; top: 0px; z-index: 0; }
			.stretch { width:100%; height:100%; }

		</style>

		<title>Main</title>

	</head>

	<body bgcolor="#FFFFFF">

		<div id="background">
		    <img src="background.jpg" class="stretch" alt="" />
		</div>

	</body>

</html>
