<html>
	<head>

		<style type="text/css">
			a { outline: 0; }
			a:link { color:lightblue; text-decoration:none; }
			a:visited { color:lightblue; text-decoration:none; }
			a:hover { color:#FF00FF; text-decoration:none; }
			a:active { color:lightblue; text-decoration:none; }
			h2 { color:white; margin-bottom:0; padding-bottom:0; }
			h3 { color:white; margin-bottom:3; padding-bottom:0; }
			p { margin-left:20px; }
			body { background-color:black; font-family:Arial }
			#footer { text-align:center; position:absolute; bottom:0px; }
			#footer h2 { color:white; margin-bottom:3; padding-bottom:0; }
			a.heading:link { color:white; text-decoration:none; }
			a.heading:visited { color:white; text-decoration:none; }
		</style>

		<title>Overlord</title>
		<base target="main">

	</head>

	<body bgcolor="#FFFFFF">

		<h2><a href="/main.html" class="heading">Overlord</a></h2>

		<h3>Puppet</h3>
		<a href="http://overlord001:3000/">Dashboard</a><br />
		<a href="puppetdoc/">Documentation</a><br />

		<h3>seedBank</h3>
		<a href="seedbank/">Documentation</a><br />
		<a href="pxelinux.cfg/">PXE Boot Files</a><br />
		<a href="recipes/">Recipes</a><br />
		<a href="manifests/">Manifests</a><br />
		<a href="seeds/">Seed Files</a><br />
		<a href="overlays/">Overlays</a><br />

		<h3>Monitoring</h3>
		<a href="nagios3/">Nagios</a><br />
		<a href="munin/">Munin</a><br />
		<a href="http://overlord001:9292">LogStash</a><br />

		<h3>Messaging</h3>
		<a href="http://overlord001:8161/admin/">Activemq Admin</a><br />
		<a href="http://overlord001:8161/camel/">Camel</a><br />

		<h3>MySQL</h3>
		<a href="http://overlord001/phpmyadmin/">phpMyAdmin</a><br />

		<h3>Status</h3>
		<a href="http://overlord001:18081">PowerDNS</a><br />
		<a href="nginx/">Nginx</a><br />

		<div style="clear: both;">&#160;</div>
	
        <div id="footer">
			<h2><a href="http://puppetconf.com" class="heading">PuppetConf 2011</a></h2>
        </div>		

	</body>

</html>
